<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<%= stylesheet_link_tag "main" %>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			<% if flash[:alert] %>
		    <div class="alert"><%= flash[:alert] %></div>
		  <% elsif flash[:notice] %>
		  	<div class="notice"><%= flash[:notice] %></div>
	  	<% end %>

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="/">Workiki</a></h1>
				</header>

			

			<!-- Footer -->
				<footer id="footer">
					Total Number of users: <%= @users.count %>
					<table>
						<tr>
							<th>Email</th>
							<th>Number</th>
							<th>Created At </th>
						</tr>
						<% @users.each do |user| %>
							<tr>
								<td><%= user.email %></td>
								<td><%= user.contact_number %></td>
								<td><%= user.created_at.localtime %></td>
							</tr>
						<% end %>
					</table>

				</footer>

		</div>

		<!-- Scripts -->
		<%= javascript_include_tag "jquery.min" %>
		<%= javascript_include_tag "jquery.dropotron.min" %>
		<%= javascript_include_tag "jquery.scrolly.min" %>
		<%= javascript_include_tag "jquery.scrollgress.min" %>
		<%= javascript_include_tag "util" %>

		<script>
			$('.new_user').on('focus', 'input[type=number]', function (e) {
			  $(this).on('mousewheel.disableScroll', function (e) {
			    e.preventDefault();
			  });
			});
			$('.new_user').on('blur', 'input[type=number]', function (e) {
			  $(this).off('mousewheel.disableScroll');
			});

			$(document).ready(function() {
		    $("#user_contact_number").keydown(function (e) {
	        // Allow: backspace, delete, tab, escape, enter and .
	        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
             // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
             // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
	        }
	        // Ensure that it is a number and stop the keypress
	        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
	        }
		    });
			});

			function validateEmail(email) {
		    var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		    return re.test(email);
			}

			$("#new_user").submit(function(e){
				e.preventDefault();
				var email = $("#user_email").val();
				if (!validateEmail(email)) {
					$("#user_email").addClass("error");
					$("#error-message").show();
					return false;
				} else {
					this.submit();
				}
			});

			$("#user_email").focus(function(){
				$("#error-message").hide();
				$("#user_email").removeClass("error");
			});
		</script>

	</body>
</html>